<div class="row">
<div class="col-12" style="margin-top: 20px ; padding: 20px; background-color: #f6f6f6">

      <div style="position:relative; left:0px">
      <% if @user.avatar.attached?%>
      <%= image_tag @user.avatar, style:"width: 150px; height: 150px"%>
      <% end%>
      </div>

<h1><%#= @user.email%></h1>
<h3><%= @user.username%></h3>
<h5><%= @user.bio%></h5>
<%= button_to "Edit Account" , edit_user_registration_path, method: :get%><br>
<%= button_to "View Story" ,  users_mystories_path , method: :get %><br>

<hr>
<div>
<% if current_user.id == @user.id %>
  Followers
  <% @user.followers.each do |follower| %>
    <p> <b> <%= link_to follower.email, follower %> </b> </p>
  <% end %>

  Following
  <% @user.following.each do |following| %>
    <p> <%= link_to following.email, following %> </p>
  <% end %>
<% end %>
</div>

 <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user)%>
    <% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
      <% if @user.id == current_user.id %>
      <% else %>
        <%= button_to "Follow", follow_path(@user)%>
      <% end %>
    <% end %>

<div id="posts" class="text-center">
<% @posts.each do |post| %>
<% if current_user.id == post.user_id.to_i %>
  <%= render post %>
<% end %>
  <% end %>
</div>


</div>
</div>
