<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", root_path, class: "navbar-brand"%>
  <% if user_signed_in?%>
      <% if current_user.avatar.attached?%>
      <%= image_tag current_user.avatar, style:"width: 50px; height: 50px"%>
      <% end%>
         <% end%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Upload Post" , new_post_path, class:"nav-link"%>
      </li>

  <li class="nav-item">
        <%= link_to "Upload Story" , new_story_path, class:"nav-link"%>
      </li>


       <li class="nav-item">
        <%= link_to "About" , home_about_path, class:"nav-link"%>
      </li>
      <% if user_signed_in?%>
         <li class="nav-item">
        <%= link_to "View Profile" , current_user, class:"nav-link"%>
      </li>

      <li class="nav-item">
        <%= link_to "Sign Out" , destroy_user_session_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
        <%#= link_to "Edit Account" , edit_user_registration_path, class:"nav-link"%>
      </li>
       <li class="nav-item">
        <%= link_to "View My Stories" , stories_mystories_path, class:"nav-link"%>
      </li>
      <%else %>
      <li class="nav-item">
        <%= link_to "Sign up" , new_user_registration_path, class:"nav-link"%>
      </li>
      <%end%>

    <form class="form-inline my-2 my-lg-0" action="/search" style="position: relative;left: 800px;  ">
    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-successs my-2 my-sm-0" type="submit">Search</button>
    </form>


    </ul>

  </div>
</nav>
